body {
  margin: 0;
}

.App {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (min-width: 992px) {
  .App {
    height: 100vh;
    flex-direction: row;
  }
}
