#html-column {
  border-radius: 4px;
  box-shadow: 0 0 4px #a9a9a9;
  min-width: 0;
  flex: 1;
  margin: 8px 16px 16px 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#html-header {
  background-color: #f3f3f3;
  border-radius: 4px 4px 0 0;
  height: 32px;
  margin: 0;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

#html-header-title {
  color: #808080;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
}

#html-header-button {
  color: #808080;
  width: 112px;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
}

#html-preview {
  border: 3px solid #f3f3f3;
  flex: 1;
  font-family: sans-serif;
  margin: 0;
  padding: 4px;
  min-height: 96px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#html-code {
  border: 3px solid #f3f3f3;
  flex: 1;
  font-family: monospace;
  font-size: 16px;
  margin: 0;
  padding: 4px;
  min-height: 96px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: pre;
}

@media screen and (min-width: 992px) {
  #html-column {
    margin: 16px 16px 8px 4px;
  }

  #html-code {
    min-height: 0;
    overflow-y: scroll;
  }

  #html-preview {
    min-height: 0;
    overflow-y: scroll;
  }
}
